In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [19]:
df = pd.read_csv("Orders.csv")
df

     Unnamed: 0 Order ID  Order Date CustomerName             State     City
0             0  B-26055  10-03-2018    Harivansh     Uttar Pradesh  Mathura
1             1  B-25993  03-02-2018       Madhav             Delhi    Delhi
2             2  B-25973  24-01-2018  Madan Mohan     Uttar Pradesh  Mathura
3             3  B-25923  27-12-2018        Gopal       Maharashtra   Mumbai
4             4  B-25757  21-08-2018     Vishakha    Madhya Pradesh   Indore
..          ...      ...         ...          ...               ...      ...
495         495  B-25742  03-08-2018       Ashwin               Goa      Goa
496         496  B-26088  26-03-2018       Bhavna            Sikkim  Gangtok
497         497  B-25707  01-07-2018      Shivani       Maharashtra   Mumbai
498         498  B-25758  22-08-2018      Shubham  Himachal Pradesh    Simla
499         499  B-26095  28-03-2018      Monisha         Rajasthan   Jaipur

[500 rows x 6 columns]

In [20]:
df.dtypes

Unnamed: 0       int64
Order ID        object
Order Date      object
CustomerName    object
State           object
City            object
dtype: object

In [21]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    500 non-null    int64
 1   Order ID      500 non-null    object
 2   Order Date    500 non-null    object
 3   CustomerName  500 non-null    object
 4   State         500 non-null    object
 5   City          500 non-null    object
dtypes: int64(1), object(5)
memory usage: 23.6+ KB

In [23]:
df.isnull().sum()

Unnamed: 0      0
Order ID        0
Order Date      0
CustomerName    0
State           0
City            0
dtype: int64

In [24]:
df.describe()

       Unnamed: 0
count  500.000000
mean   249.500000
std    144.481833
min      0.000000
25%    124.750000
50%    249.500000
75%    374.250000
max    499.000000

In [25]:
df.to_csv('Cleaned_Orders.csv')