In [26]:
# Required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer # convert each text_cell to number to reflect the interest of words
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, accuracy_score # model accuracy using F1-score
import numpy as np

In [27]:
# Reading Training Data
train_df = pd.read_csv(r"C:\Users\m\Documents\BrainWave Matrix Solutions\Task 2\Cleaned\cleaned_twitter_training.csv")
train_df.head()

,Tweer_ID,Entity,Sentiment,Tweet_Content
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [28]:
encode_train = train_df.copy()
encode_train.head()

,Tweer_ID,Entity,Sentiment,Tweet_Content
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [29]:
# for training and validation
entity = LabelEncoder()
sentiment = LabelEncoder()
#tweet_content = LabelEncoder ()

In [30]:
# تحويل الاعمدة لارقام  encoding
encode_train['Entity'] = entity.fit_transform(encode_train['Entity'])
encode_train['Sentiment'] = sentiment.fit_transform(encode_train['Sentiment'])
#encode_train['Tweet_Content'] = tweet_content_v.fit_transform(encode_train['Tweet_Content'])

In [31]:
encode_train.head()

,Tweer_ID,Entity,Sentiment,Tweet_Content
0,2401,4,3,im getting on borderlands and i will murder yo...
1,2401,4,3,I am coming to the borders and I will kill you...
2,2401,4,3,im getting on borderlands and i will kill you ...
3,2401,4,3,im coming on borderlands and i will murder you...
4,2401,4,3,im getting on borderlands 2 and i will murder ...

In [32]:
# Reading  validation Data
valid_df = pd.read_csv(r"C:\Users\m\Documents\BrainWave Matrix Solutions\Task 2\Cleaned\cleaned_twitter_validation.csv")
valid_df.head()

,Tweer_ID,Entity,Sentiment,Tweet_Content
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,Microsoft Why do I pay for WORD when it functi...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [33]:
encode_valid = valid_df.copy()
encode_valid.head()

,Tweer_ID,Entity,Sentiment,Tweet_Content
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,Microsoft Why do I pay for WORD when it functi...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [34]:
# تحويل الاعمدة لارقام  encoding
encode_valid['Entity'] = entity.fit_transform(encode_valid['Entity'])
encode_valid['Sentiment'] = sentiment.fit_transform(encode_valid['Sentiment'])
#encode_valid['Tweet_Content'] = tweet_content_v.fit_transform(encode_valid['Tweet_Content'])

In [35]:
encode_valid.head()

,Tweer_ID,Entity,Sentiment,Tweet_Content
0,3364,11,0,I mentioned on Facebook that I was struggling ...
1,352,0,2,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,19,1,Microsoft Why do I pay for WORD when it functi...
3,4371,5,1,"CSGO matchmaking is so full of closet hacking,..."
4,4433,13,2,Now the President is slapping Americans in the...

In [36]:
# Step 3: Prepare features and target
X_train_text = encode_train['Tweet_Content']
y_train = encode_train['Sentiment']

X_val_text = encode_valid['Tweet_Content']
y_val = encode_valid['Sentiment']

In [37]:
# Step 4: TF-IDF Vectorization (fit on training, transform both)
converter = TfidfVectorizer()
X_train = converter.fit_transform(X_train_text)
X_val = converter.transform(X_val_text)

In [38]:
# Step 5: Initialize and train the Logistic Regression model
logreg = LogisticRegression(random_state=42, max_iter=1000)
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42)

In [39]:
# Step 6: Predict on validation data
y_pred = logreg.predict(X_val)

In [40]:
# Step 7: Evaluation
accuracy = accuracy_score(y_val, y_pred)
report = classification_report(y_val, y_pred, target_names=sentiment.classes_)

In [41]:
print(f'Accuracy on validation data: {accuracy}')
print("Classification Report:\n", report)

Accuracy on validation data: 0.86
Classification Report:
               precision    recall  f1-score   support

  Irrelevant       0.89      0.81      0.85       172
    Negative       0.79      0.95      0.86       266
     Neutral       0.96      0.74      0.84       285
    Positive       0.85      0.93      0.89       277

    accuracy                           0.86      1000
   macro avg       0.87      0.86      0.86      1000
weighted avg       0.87      0.86      0.86      1000

In [42]:
""" 
0   -----> Irrelenant    
1   -----> Negative
2   -----> Neutral
3   -----> Positive
"""

' \n0   -----> Irrelenant    \n1   -----> Negative\n2   -----> Neutral\n3   -----> Positive\n'

In [ ]:
# Examples
test_text = ["CSGO WIngman Im Silver dont bully twitch.tvlprezh"]

#Converter
test_convert = converter.transform(test_text)

# Prediction
prediction = logreg.predict(test_convert)

# Positive / Negarive or Neutral Results   
if prediction[0] == 0:
    sentiment = "Irrelenant"
elif prediction[0] == 1:
    sentiment = "Negative"
elif prediction[0] == 2:
    sentiment = "Neutral"
else:
    sentiment = "Positive"

print("Sentiment:", sentiment, "---->", prediction[0])

Sentiment: Neutral ----> 2

In [ ]:
test_text2 = ["the story is so bad"]

# Converter
test_convert2 = converter.transform(test_text2)

# Prediction
prediction = logreg.predict(test_convert2)
# Positive / Negarive or Neutral Results   
if prediction[0] == 0:
    sentiment = "Irrelenant"
elif prediction[0] == 1:
    sentiment = "Negative"
elif prediction[0] == 2:
    sentiment = "Neutral"
else:
    sentiment = "Positive"

print("Sentiment:", sentiment, "---->", prediction[0])

Sentiment: Negative ----> 1

In [ ]:
test_text3 = ["I am so funny"]

# Converter
test_convert3 = converter.transform(test_text3)

# Prediction
prediction = logreg.predict(test_convert3)
# Positive / Negarive or Neutral Results  
if prediction[0] == 0:
    sentiment = "Irrelenant"
elif prediction[0] == 1:
    sentiment = "Negative"
elif prediction[0] == 2:
    sentiment = "Neutral"
else:
    sentiment = "Positive"

print("Sentiment:", sentiment, "---->", prediction[0])

Sentiment: Positive ----> 3